html, body {
	background-color: #000000;

	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	-ms-touch-action: none;
	touch-action: none;

	margin: 0;
	padding: 0;
	overflow: hidden;
}

canvas {
	display: block;
	margin: 0 auto;

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

@font-face {
	font-family: 'gamefont';
	src: url('data/fonts/gamefont.eot');
	src: url('data/fonts/gamefont.eot?#iefix') format('embedded-opentype'),
	url('data/fonts/gamefont.woff') format('woff'),
	url('data/fonts/gamefont.ttf') format('truetype'),
	url('data/fonts/gamefont.svg#gamefont') format('svg');
	font-weight: normal;
	font-style: normal;
}